In [1]:
import pandas as pd
import numpy as np

1. Tạo DataFrame từ Dictionary
Yêu cầu: Tạo một DataFrame đơn giản từ một dictionary gồm tên, tuổi,
giới tính.

In [2]:
dict = {
    "Name" : ["Phat", "Phong", "Phuc"],
    "Age" : [22, 21, 21],
    "Gender" : ["Male", "Male", "Male"]
}

df = pd.DataFrame(dict, index=["Student 1", "Student 2", "Student 3"])
print(df)

            Name  Age Gender
Student 1   Phat   22   Male
Student 2  Phong   21   Male
Student 3   Phuc   21   Male

2. Đọc file CSV
Yêu cầu: Sử dụng pandas để đọc file CSV và hiển thị 5 dòng đầu tiên.

In [3]:
"""
Create file .cvs from dictionary
"""
dict = {
    "Name" : ["Phat", "Phong", "Phuc", "Phu", "Phuoc"],
    "Age" : [22, 21, 21, 21, 21],
    "Gender" : ["Male", "Male", "Male", "Male", "Male"]
}

df = pd.DataFrame(dict)
df.to_csv("Samples_Data.csv", index=False)

In [4]:
df = pd.read_csv("Samples_Data.csv")
print(df.head())

    Name  Age Gender
0   Phat   22   Male
1  Phong   21   Male
2   Phuc   21   Male
3    Phu   21   Male
4  Phuoc   21   Male

3. Truy cập cột
Yêu cầu: Lấy ra cột 'tuổi' từ DataFrame.

In [5]:
df = pd.read_csv("Samples_Data.csv")
print(df.loc[:, "Age"]) # df["Age"]

0    22
1    21
2    21
3    21
4    21
Name: Age, dtype: int64

4. Truy cập hàng theo chỉ số
Yêu cầu: Truy cập hàng thứ 3 (index = 2) trong DataFrame.

In [6]:
df = pd.read_csv("Samples_Data.csv")
print(df.iloc[[2]])

   Name  Age Gender
2  Phuc   21   Male

5. Truy cập theo điều kiện
Yêu cầu: Lọc các dòng có tuổi > 21.

In [7]:
df = pd.read_csv("Samples_Data.csv")
df_cond = df[df["Age"] > 21]
print(df_cond)

   Name  Age Gender
0  Phat   22   Male

6. Thêm cột mới
Yêu cầu: Thêm một cột 'điểm' vào DataFrame với giá trị ngẫu nhiên.

In [8]:
name = np.array(["Phat", "Phuc", "Phong", "Phu", "Phuoc"])
df = pd.DataFrame(name, columns=["Name"])

age = np.random.randint(10, 22, size=5)
df["Age"] = age
print(df)

    Name  Age
0   Phat   20
1   Phuc   16
2  Phong   17
3    Phu   13
4  Phuoc   14

7. Xóa cột
Yêu cầu: Xóa cột 'giới tính' khỏi DataFrame.

In [9]:
df = pd.read_csv("Samples_Data.csv")
print(df)

    Name  Age Gender
0   Phat   22   Male
1  Phong   21   Male
2   Phuc   21   Male
3    Phu   21   Male
4  Phuoc   21   Male

In [10]:
df.drop(["Age", "Gender"], axis=1, inplace=True)
print(df)

    Name
0   Phat
1  Phong
2   Phuc
3    Phu
4  Phuoc

8. Tính trung bình
Yêu cầu: Tính tuổi trung bình của các dòng trong DataFrame.

In [11]:
df = pd.read_csv("Samples_Data.csv")
print(np.mean(df["Age"])) # df["Age"].mean()

21.2

9. Groupby
Yêu cầu: Tính tuổi trung bình theo từng giới tính.

In [12]:
df = pd.read_csv("Samples_Data.csv")
print(df)

    Name  Age Gender
0   Phat   22   Male
1  Phong   21   Male
2   Phuc   21   Male
3    Phu   21   Male
4  Phuoc   21   Male

In [13]:
"""
Add a new row 
"""
new_row = pd.DataFrame({"Name" : ["Tot"], "Age" : [22], "Gender" : ["Female"]})
df = pd.concat((df, new_row), ignore_index=True)
df.to_csv("Samples_Data.csv", index=False)
print(df)

    Name  Age  Gender
0   Phat   22    Male
1  Phong   21    Male
2   Phuc   21    Male
3    Phu   21    Male
4  Phuoc   21    Male
5    Tot   22  Female

In [14]:
gb = df.groupby(["Gender"])["Age"].mean()
print(gb)

Gender
Female    22.0
Male      21.2
Name: Age, dtype: float64

10. Sắp xếp
Yêu cầu: Sắp xếp DataFrame theo tuổi giảm dần.

In [15]:
df = pd.read_csv("Samples_Data.csv")
df.sort_values(["Age"], ascending=False, inplace=True)
print(df)

    Name  Age  Gender
0   Phat   22    Male
5    Tot   22  Female
1  Phong   21    Male
2   Phuc   21    Male
3    Phu   21    Male
4  Phuoc   21    Male

11. Apply function
Yêu cầu: Áp dụng hàm tính bình phương lên cột 'tuổi'.

In [16]:
df = pd.read_csv("Samples_Data.csv")
print(df)

    Name  Age  Gender
0   Phat   22    Male
1  Phong   21    Male
2   Phuc   21    Male
3    Phu   21    Male
4  Phuoc   21    Male
5    Tot   22  Female

In [17]:
df["Age Square"] = df["Age"].apply(lambda x: x ** 2)
print(df)

    Name  Age  Gender  Age Square
0   Phat   22    Male         484
1  Phong   21    Male         441
2   Phuc   21    Male         441
3    Phu   21    Male         441
4  Phuoc   21    Male         441
5    Tot   22  Female         484

12. Gộp DataFrame
Yêu cầu: Gộp 2 DataFrame theo chiều dọc (append).

In [18]:
df1 = pd.DataFrame({"Name" : ["Phat", "Phuc"], "Age" : [22, 21]})
df2 = pd.DataFrame({"Name" : ["Phong", "Phuoc"], "Age" : [22, 23]})

df_row = pd.concat([df1, df2], ignore_index=True)
print(df_row)
df_col = pd.concat([df1, df2], axis=1)
print(df_col)

    Name  Age
0   Phat   22
1   Phuc   21
2  Phong   22
3  Phuoc   23
   Name  Age   Name  Age
0  Phat   22  Phong   22
1  Phuc   21  Phuoc   23

13. Merge DataFrame
Yêu cầu: Merge 2 DataFrame theo cột 'id'.

In [19]:
df1 = pd.DataFrame({"ID": [1, 2, 3], "Name": ["Phat", "Phuc", "Phong"]})
df2 = pd.DataFrame({"ID": [2, 3, 4], "Age": [21, 22, 23]})

In [20]:
print(pd.merge(df1, df2, on="ID", how="inner"))

   ID   Name  Age
0   2   Phuc   21
1   3  Phong   22

In [21]:
print(pd.merge(df1, df2, on="ID", how="outer"))

   ID   Name   Age
0   1   Phat   NaN
1   2   Phuc  21.0
2   3  Phong  22.0
3   4    NaN  23.0

In [22]:
print(pd.merge(df1, df2, on="ID", how="left"))

   ID   Name   Age
0   1   Phat   NaN
1   2   Phuc  21.0
2   3  Phong  22.0

In [23]:
print(pd.merge(df1, df2, on="ID", how="right"))

   ID   Name  Age
0   2   Phuc   21
1   3  Phong   22
2   4    NaN   23

14. Fill NA
Yêu cầu: Thay thế giá trị thiếu (NaN) trong cột 'tuổi' bằng tuổi trung
bình.

In [24]:
df = pd.read_csv("chipotle.tsv", sep="\t")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [25]:
df.fillna({"choice_description" : "Unknow"}, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

15. Drop NA
Yêu cầu: Xoá dòng có giá trị thiếu.

In [26]:
df = pd.read_csv("chipotle.tsv", sep="\t")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [27]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3376 entries, 1 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            3376 non-null   int64
 1   quantity            3376 non-null   int64
 2   item_name           3376 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          3376 non-null   object
dtypes: int64(2), object(3)
memory usage: 158.2+ KB
None

16. Đổi tên cột
Yêu cầu: Đổi tên cột 'tuổi' thành 'age'.

In [28]:
df = pd.read_csv("Samples_Data.csv")
print(df)

    Name  Age  Gender
0   Phat   22    Male
1  Phong   21    Male
2   Phuc   21    Male
3    Phu   21    Male
4  Phuoc   21    Male
5    Tot   22  Female

In [29]:
df.rename(columns={"Name" : "Ten", "Age" : "Tuoi", "Gender" : "Gioi tinh"}, inplace=True)
print(df)

     Ten  Tuoi Gioi tinh
0   Phat    22      Male
1  Phong    21      Male
2   Phuc    21      Male
3    Phu    21      Male
4  Phuoc    21      Male
5    Tot    22    Female

17. Reset index
Yêu cầu: Reset lại index của DataFrame sau khi lọc.

In [39]:
df = pd.DataFrame({
    "Name" : ["Phat", "Phong", "Phuc", "Phu", "Phuoc"],
    "Age" : [20, 21, 22, 19, 23]
})

filtered = df[df["Age"] > 20]
print(filtered)

    Name  Age
1  Phong   21
2   Phuc   22
4  Phuoc   23

In [41]:
filtered_reset = filtered.reset_index(drop=True)
print(filtered_reset)

    Name  Age
0  Phong   21
1   Phuc   22
2  Phuoc   23

18. Lấy mẫu ngẫu nhiên
Yêu cầu: Chọn ngẫu nhiên 3 dòng từ DataFrame.

In [45]:
df = pd.read_csv("Samples_Data.csv")
sample_df = df.sample(n=3, random_state=42)
print(sample_df)

    Name  Age  Gender
0   Phat   22    Male
1  Phong   21    Male
5    Tot   22  Female

19. Tính thống kê
Yêu cầu: Hiển thị describe() để xem thông tin thống kê tổng quát.

In [48]:
df = pd.read_csv("Samples_Data.csv")
df.describe(include="all")

        Name        Age Gender
count      6   6.000000      6
unique     6        NaN      2
top     Phat        NaN   Male
freq       1        NaN      5
mean     NaN  21.333333    NaN
std      NaN   0.516398    NaN
min      NaN  21.000000    NaN
25%      NaN  21.000000    NaN
50%      NaN  21.000000    NaN
75%      NaN  21.750000    NaN
max      NaN  22.000000    NaN

20. Tạo cột điều kiện
Yêu cầu: Tạo cột 'trẻ' nếu tuổi < 25 thì là True, ngược lại False.

In [49]:
df = pd.read_csv("Samples_Data.csv")
print(df)

    Name  Age  Gender
0   Phat   22    Male
1  Phong   21    Male
2   Phuc   21    Male
3    Phu   21    Male
4  Phuoc   21    Male
5    Tot   22  Female

In [52]:
df["Young"] = df["Age"] < 25
print(df)

    Name  Age  Gender  Young
0   Phat   22    Male   True
1  Phong   21    Male   True
2   Phuc   21    Male   True
3    Phu   21    Male   True
4  Phuoc   21    Male   True
5    Tot   22  Female   True

21. Đổi kiểu dữ liệu
Yêu cầu: Chuyển kiểu dữ liệu của cột 'tuổi' sang float.

In [54]:
df = pd.DataFrame({
    "Name" : ["Phat", "Phong", "Phuc"],
    "Age" : ["22", "21", "21"]
})
print(df.dtypes)

Name    object
Age     object
dtype: object

In [55]:
df["Age"] = df["Age"].apply(lambda age: float(age))
print(df.dtypes)

Name     object
Age     float64
dtype: object

22. Tính tổng theo nhóm
Yêu cầu: Tính tổng điểm theo từng nhóm giới tính.

In [56]:
df = pd.read_csv("Samples_Data.csv")
df.groupby(["Gender"])["Age"].sum()

Gender
Female     22
Male      106
Name: Age, dtype: int64

23. Pivot Table
Yêu cầu: Tạo bảng pivot theo giới tính và tính điểm trung bình.

In [ ]:
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance", "Finance"],
    "Name": ["Phát", "Phúc", "Phong", "Phú", "Phước", "Hà"],
    "Salary": [700, 800, 600, 650, 900, 850]
}

df = pd.DataFrame(data)
print(df)

  Department   Name  Salary
0         IT   Phát     700
1         IT   Phúc     800
2         HR  Phong     600
3         HR    Phú     650
4    Finance  Phước     900
5    Finance     Hà     850

In [62]:
pivot = pd.pivot_table(df, 
                       values="Salary",
                       index="Department",
                       aggfunc="mean")
print(pivot)

            Salary
Department
Finance      875.0
HR           625.0
IT           750.0

24. Sử dụng isin
Yêu cầu: Lọc các dòng có giới tính là nam hoặc nữ.

In [63]:
data = {
    "Name": ["An", "Bình", "Cường", "Dung", "Hà"],
    "Gender": ["Nam", "Nữ", "Nam", "Khác", "Nữ"],
    "Age": [20, 22, 25, 30, 28]
}

df = pd.DataFrame(data)

filtered = df[df["Gender"].isin(["Nam", "Nữ"])]

print(filtered)

    Name Gender  Age
0     An    Nam   20
1   Bình     Nữ   22
2  Cường    Nam   25
4     Hà     Nữ   28

25. Tạo chỉ số mới
Yêu cầu: Thêm cột điểm chuẩn = điểm * 1.2.

In [64]:
data = {
    "Name" : ["Phat", "Phuc", "Phong"],
    "Score" : [10, 10, 9]
}

df = pd.DataFrame(data)
print(df)

    Name  Score
0   Phat     10
1   Phuc     10
2  Phong      9

In [65]:
df["Admission_cutoff_score"] = df["Score"].apply(lambda score : score * 1.2)
print(df)

    Name  Score  Admission_cutoff_score
0   Phat     10                    12.0
1   Phuc     10                    12.0
2  Phong      9                    10.8

26. Kiểm tra giá trị trùng lặp
Yêu cầu: Tìm các dòng bị trùng lặp về tên.

In [67]:
data = {
    "Name": ["An", "Bình", "An", "Cường", "Bình"],
    "Age": [20, 22, 20, 25, 22]
}
df = pd.DataFrame(data)
print(df)

    Name  Age
0     An   20
1   Bình   22
2     An   20
3  Cường   25
4   Bình   22

In [68]:
df.duplicated(subset=["Name"])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [69]:
df[df.duplicated(subset=["Name"])]

   Name  Age
2    An   20
4  Bình   22

27. Xoá dòng trùng lặp
Yêu cầu: Xoá các dòng bị trùng lặp về tên.

In [70]:
data = {
    "Name": ["An", "Bình", "An", "Cường", "Bình"],
    "Age": [20, 22, 20, 25, 22]
}
df = pd.DataFrame(data)
print(df)

    Name  Age
0     An   20
1   Bình   22
2     An   20
3  Cường   25
4   Bình   22

In [71]:
df.drop_duplicates(subset=["Name"], inplace=True)
print(df)

    Name  Age
0     An   20
1   Bình   22
3  Cường   25

28. Lưu DataFrame
Yêu cầu: Ghi DataFrame ra file CSV.

In [72]:
data = {
    "Name": ["An", "Bình", "An", "Cường", "Bình"],
    "Age": [20, 22, 20, 25, 22]
}
df = pd.DataFrame(data)
df.to_csv("Students_Data.csv")

29. Đổi thứ tự cột
Yêu cầu: Sắp xếp lại các cột theo thứ tự: tên, tuổi, điểm.

In [73]:
data = {
    "Age": [20, 22, 25],
    "Score": [85, 90, 88],
    "Name": ["Phát", "Phúc", "Phong"]
}
df = pd.DataFrame(data)
print(df)

   Age  Score   Name
0   20     85   Phát
1   22     90   Phúc
2   25     88  Phong

In [74]:
df = df[["Name", "Age", "Score"]]
print(df)

    Name  Age  Score
0   Phát   20     85
1   Phúc   22     90
2  Phong   25     88

30. Tính correlation
Yêu cầu: Tính ma trận tương quan giữa các cột số.

In [75]:
data = {
    "Age": [20, 22, 25, 30, 28],
    "Score": [85, 90, 88, 95, 70],
    "Height": [165, 170, 172, 180, 175]
}
df = pd.DataFrame(data)
print(df)

   Age  Score  Height
0   20     85     165
1   22     90     170
2   25     88     172
3   30     95     180
4   28     70     175

In [76]:
corr_matrix = df.corr()
print(corr_matrix)

             Age     Score    Height
Age     1.000000 -0.064164  0.975407
Score  -0.064164  1.000000  0.112543
Height  0.975407  0.112543  1.000000